server:
#    address: 0.0.0.0 // only for deploy in docker
    base-url: {server-host:port}
    port: 8080
    secret-key: 32-byte/256-bit
    encrypt-key: 16-byte/128-bit
    error:
        include-message: always

client:
    url: {client-host:port}

spring:
    application:
        name: e-sign

    servlet:
        multipart:
            enabled: true
            max-file-size: 50MB
            max-request-size: 50MB

    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://{db-host}:{db-port}/{db-name}
        username: {db-username}
        password: {db-password}

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        open-in-view: true
        properties:
            hibernate:
                format-sql: true
        database: mysql
        database-platform: org.hibernate.dialect.MySQL8Dialect

    mail:
        host: {smtp-host}
        port: {smtp-port}
        username: {mailer-username@example.com}
        password: {mailer-password}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true