<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Forgot Password</title>
        <style>
            body {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .btn {
                display: inline-block;
                padding: 10px 20px;
                background-color:rgb(0, 98, 255);
                color: white;
                text-decoration: none;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <img src="cid:{{COMPANY_LOGO}}" alt="Logo Perusahaan" width="150">
        <h2>Reset Password</h2>
        <div>It will be expired in <b>5 minutes</b></div>
        <p>Go to reset password :</p>
        <a class="btn" href="{{RESET_PASSWORD_LINK}}/{{TOKEN}}">
            Reset Password
        </a>
    </body>
</html>